<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/users/head :: head"></head>

<body>
    <div th:replace="fragments/users/site-navbar :: navbar" ></div>

    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
          </div>
        </div>
      </div>
  
      <div class="site-section">
        <div class="container">
          
          
      
            <div class="row">           
                <div class="col-sm-6 col-lg-4 text-center item mb-4" th:each="product : ${products}">
                    <a th:href="@{/shopdetail/{id}(id=${product.productId})}">
                        <img th:src="@{'/images/' + ${product.anh}}" alt="Image" width="300">
                    </a>
                    <h3 class="text-dark">
                        <a th:href="@{/shopdetail/{id}(id=${product.productId})}" th:text="${product.name}"></a>
                    </h3>
                    <p class="price" th:text="${product.formattedGiaTien}"></p>
                </div>
            </div>
            
          
        </div>
      </div>


    <footer th:replace="fragments/users/footer :: footer"></footer>
    <div th:replace="fragments/users/script :: script"></div>
</body>
</html>